.follower-sidebar-container {
    color: white;
}

.sidebar-followers {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 15px;
    padding-bottom: 30px;
    align-content: center;
    width: 8%;
    height: 250px;
    top: 75px;
    border-bottom: solid gray;
}

.sidebar-following {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 15px;
    padding-bottom: 30px;
    width: 8%;
    height: 250px;
    top: 375px;
    border-bottom: solid gray;
}

.sidebar-popular {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 15px;
    padding-bottom: 30px;
    width: 8%;
    height: 250px;
    top: 675px;
    border-bottom: solid gray;
}

.sidebar-new {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 15px;
    width: 8%;
    height: 250px;
    top: 975px;
}

.sidebar-followers > h3 {
    margin: 10px 0;
    font-size: 30px;
    cursor: default;
}

.sidebar-followers > p {
    cursor: default;
}

.sidebar-following > h3 {
    margin: 10px 0;
    font-size: 30px;
    cursor: default;
}

.sidebar-following > p {
    cursor: default;
}
.sidebar-popular > h3 {
    margin: 10px 0;
    font-size: 30px;
    cursor: default;
}

.sidebar-new > h3 {
    margin: 10px 0;
    font-size: 30px;
    cursor: default;
}

.sidebar-followers > div > h4 {
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
}
.sidebar-following > div > h4 {
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
}
.sidebar-popular > div > h4 {
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
}

.sidebar-new > div > h4 {
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
}

.sidebar-followers > div > h4:hover {
    color: rgba(32, 223, 150, 1.16);
}

.sidebar-following > div > h4:hover {
    color: rgba(32, 223, 150, 1.16);
}

.sidebar-popular > div > h4:hover {
    color: rgba(32, 223, 150, 1.16);
}

.sidebar-new > div > h4:hover {
    color: rgba(32, 223, 150, 1.16);
}

@media screen and (width: 412px){
    .follower-sidebar-container {
        color: white;
    }

    .sidebar-followers {
        position: fixed;
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-right: 15px;
        padding-bottom: 30px;
        align-content: center;
        width: 3rem;
        height: 3rem;
        top: 75px;
        border-bottom: solid gray;
    }

    .sidebar-following {
        position: fixed;
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-right: 15px;
        padding-bottom: 30px;
        width: 3rem;
        height: 3rem;
        top: 375px;
        border-bottom: solid gray;
    }

    .sidebar-popular {
        position: fixed;
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-right: 15px;
        padding-bottom: 30px;
        width: 3rem;
        height: 3rem;
        top: 675px;
        border-bottom: solid gray;
    }

    .sidebar-new {
        position: fixed;
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-right: 15px;
        width: 3rem;
        height: 3rem;
        top: 975px;
    }

    .sidebar-followers > h3 {
        margin: 10px 0;
        font-size: 30px;
    }
    .sidebar-following > h3 {
        margin: 10px 0;
        font-size: 30px;
    }
    .sidebar-popular > h3 {
        margin: 10px 0;
        font-size: 30px;
    }

    .sidebar-new > h3 {
        margin: 10px 0;
        font-size: 30px;
    }

    .sidebar-followers > div > h4 {
        margin: 10px 0;
        font-size: 18px;
    }
    .sidebar-following > div > h4 {
        margin: 10px 0;
        font-size: 18px;
    }
    .sidebar-popular > div > h4 {
        margin: 10px 0;
        font-size: 18px;
    }

    .sidebar-new > div > h4 {
        margin: 10px 0;
        font-size: 18px;
    }
}
