.post-div {
    display: flex;
    flex-direction: column;
    width: 700px;

}

.post-info {
    display: grid;
    align-self: center;
    width: 1400px;
    grid-template-columns: 90% 10%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        'title likes'
        'user .'
    ;
}

.edit-button {
    width: 50px;
}

.post-title {
    grid-area: title;
    align-self: center;
    margin: 15px 0;
}

.post-user {
    grid-area: user;
    display: flex;
}

.post-user > p {
    margin: 0;
}

.follow-button {
    margin-left: 10px;
}

/* .like-buttons {
    display: flex;
    flex-direction: row-reverse;
    grid-area: likes;
}

.like-buttons > li {
    list-style: none;
}

.likesContainer {
    display: flex;
    margin: 2px 10px;
    align-items: center;
}

.likesContainer i{
    cursor: pointer
}

.likesContainer .filled {
    color:#ff5500;
    font-size: 25px;
}
.likesContainer .empty {
    color: #8c8c8c;
    font-size: 25px;
}

.dislikesContainer {
    display: flex;
    margin: 2px 0;
    align-items: center;
}

.dislikesContainer i{
    cursor: pointer
}

.dislikesContainer .filled {
    color:#ff5500;
    font-size: 25px;
}
.dislikesContainer .empty {
    color: #8c8c8c;
    font-size: 25px;
}

/* .like-count {
    margin-left: 10px;
    font-size: 20px;
} */
