.splash-page {
    width: 100%;
    height: auto;
    min-height: 1317px;
    background: linear-gradient(120deg,#ebff67 ,#394731 80% 100%);
}

.splash-page-backdrop {
    width: 100%;
    height: 800px;
    opacity: 20%;
}

.splash-page-span {
    position: relative;
    word-spacing: 300px;
    font-size: 100px;
    color: black;
    width: 600px;
    height: 450px;
    float: left;
    bottom: 600px;
    left: 15%;
}

.splash-bottom {
    display: flex;
    margin-top: 150px;
    margin-bottom: 140px;
    flex-direction: column;
    justify-content: center;
}

.splash-bottom-text {
    font-size: 36px;
    align-self: center;
    margin-top: 100px;
}

.splash-join-button {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
}

.splash-join-button > button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    width: 100%;
    font-family: 'Roboto';
    font-size: 16px;
}
